@import url(../css/font.css);

:root {
  --default: black;
  --color--bg--: #fdecec;
  --default--text--: #f55556;
  --document: #676767;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: text, sans-serif;
}


/*------ header-------- */

.logo img {
  width: 180px;
}

.nav--menu {
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;
}

.nav--item {
  display: flex;
  justify-content: center;
  gap: 2rem;
  list-style: none;
  align-items: center;

}

.nav--item li a {
  text-decoration: none;
  color: var(--default);
  font-size: 16px;
  color: var(--document);

}

.nav-search {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
}

.nav-search i {
  font-size: 22px;
}

.bi-cart-fill {
  display: block;
  margin-left: -10px;
}

.nav--search__produce {
  width: 8rem;
  height: 40px;
}

.nav--search__produce {
  background-color: transparent;
  border: transparent;
  margin: 0 1rem;
  outline: none;
}
.bi-cart-fill{
  position: relative;
  right: 2.5rem;
 
}
.nav--card__number{
  background-color: #f55556;
  padding:0.2rem 0.7rem;
  border-radius: 100px;
  color: white;
  position: relative;
  top: -1.5rem;
  right: 2.5rem;
}

.nav--search__produce:focus~.text--seach,
.nav--search__produce:valid~.text--seach {
  visibility: hidden;
}

.nav-search .text--seach {
  position: relative;
  right: 9rem;
}

/* // section 1  */
.title{
  display: flex;
  justify-content: space-around;
  
  margin-top: 4rem;
}
.title--oder{
  width: 38rem;
  height: auto;
  padding-left: 5rem;

}
.title--oder__btn{
  color: var(--default--text--);
  background-color: var(--color--bg--);
  width: 12.5rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 100px;
  margin-bottom: 1rem;

  
}
 .title--img>img{
  width: 40vw;
  height: 30vw;
}
 .title--img{
  text-align: center;
}
.title--oder h2{
  font-size: 3rem;
}
.title--oder span{
  color: var(--default--text--);
}
.title--oder p{
  color:var(--document);
  line-height: 30px;
  font-size: 20px;
  margin-top: 20px;
}
.btn{
margin-top: 20px;
  display: flex;
}
.OrderProcess{
  display: flex;

}
.btn button{
  border: none;
  background: white;
}
.btn button a{
  display: inline-block;
  padding: 17px 40px;
border-radius: 15px;
background-color: var(--default--text--);
color: aliceblue;
text-decoration: none;
font-size: 1rem;
transition: all 0.3s ease;
  
}

.btn button a:hover{
  color: var(--default--text--);
  background-color: white;
  border: 2px solid var(--default--text--);
  
  }
  
/* // section 2  */
.Serve{
  width: 100%;
  height: 700px;
  text-align: center;
  background-color: var(--color--bg--);
  margin-top: 10rem;
  
}
.Serve .Serve--text{
  display: block;
  color: #f55556;
  padding-top: 4rem;
  font-size:16px ;
}
.Serve h2{
  padding-top: 1rem;
  width: 50rem;
  font-size:40px ;
  margin: 0 auto;
}
.Serve--card{
  margin-top: 20px;
  display: flex;

  gap: 5rem;
  justify-content: center;
  align-items: center;
}
.Serve--card__item::before {
  content: "";
  top: 0;
  left: 0;
  position: absolute;
  border-radius: 20px;
  width: 18rem;
  height: 350px;
  background-color: rgb(255, 255, 255);
  z-index: -1; /* Thiết lập z-index của phần tử trước để nó đứng dưới */
}

.Serve--card__item {
  display: block;
  width: 18rem;
  height: 350px;
  background-color: rgb(255, 0, 0);
  border-radius: 20px;
  padding-top: 50px;
  margin-top: 2rem;
  position: relative;
  z-index: 2; /* Thiết lập z-index cho phần tử chính */
}



.Serve--card__item:hover {
  transform-origin: top right;
  transform: rotate(-20deg); /* Sử dụng thuộc tính transform để xoay */
}

.Serve--card__item img{
  width: 90px;
  height:90px ;
}
.Serve--card__item h3{
  font-size:22px ;
  margin-top: 2.5rem;
}
.Serve--card__item p{
  color: var(--document);
  font-size:15px ;
  margin-top: 20px;
  line-height: 1.8rem;

}


/* section 3,4 */
.choose>img ,.home img{
  width: 35vw;
}
.choose,.home{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  margin-top: 70px;
}
.choose p{
  color: #03A66B;
  margin-bottom: 20px;
}
.select ,.home--text{
  width: 33rem;


}
.select span,.home--text span{
  line-height: 27px;
  display: block;
  width: 50rem;
  font-size: 15px;
  max-width: 90%;
  margin-top: 20px;
}
.select h3,.home--text h3{
  width: 50rem;
  line-height: 44px;
  font-size: 32px;
  max-width: 90%;
}

.select button ,.home--text button{
  background-color: white;
  border: none;
  margin-top: 70px;
}
.select button a,.home--text button  a{
  display: inline-block;
  padding: 17px 40px;
border-radius: 15px;
background-color: var(--default--text--);
color: aliceblue;
text-decoration: none;
font-size: 1rem;
transition: all 0.3s ease;

}


.select button a:hover,.home--text button  a:hover{
color: var(--default--text--);
background-color: white;
border: 2px solid var(--default--text--);

}

.home--text{
  margin-left: 180px;
}


/* section 4 */
.Download{
  width: 100%;
  height: 50rem;
justify-content: center;
  display: flex;
  align-items: center;
  gap: 7rem;
  background-color: var(--color--bg--);
  margin-top: 70px;
}
.Download--introduce{
  width: 35rem;
}
.Download--introduce p{
  color: var(--default--text--);
  line-height: 3rem;
}
.Download--introduce h3{
  font-size: 35px;
  line-height: 44px;
  max-width: 90%;
  line-height: 3rem;
}
.Download--introduce span{
  display: block;
  color: var(--document);
  line-height: 2.3rem;
  margin-top: 20px;
}
.Download--mobile--AppStore,.Download--mobile--PlayStore{
  display: flex;
  text-decoration: none;
  color: black;
  align-items: center;
  gap: 20px;
  font-size: 1.3rem;
  border:1px solid #676767;
  border-radius: 10px;
  padding: 15px 20px;
  margin-top: 3.5rem;
  background-color: white;
  transition: all 0.3s ease;
}
.Download--mobile--AppStore:hover,
.Download--mobile--PlayStore:hover{
  transform: scale(1.15);
}
.Download--mobile{
  display: flex;
  gap: 3rem;
}



/* foodter */
.container{
  display: flex;
  margin-top: 5rem;
  justify-content: center;
  gap: 5.5rem;
  margin-left: 20px;
}

.container--text__one,.container--text__two{
  color: var(--document);
  width: 20rem;
  line-height: 2rem;
}
.container--choose__one ul li a , .container--choose__two ul li a{
  text-decoration: none;
  color: var(--document);
}
.container--choose__one ul li:hover a ,.container--choose__two ul li:hover a{
  color: black;
}
.container--choose__one ul li, .container--choose__two ul li {
  margin-top: 1.1rem;
  list-style: none;
}

.container--choose__one h4, .container--text__one img ,.container--text__two h4 ,.container--choose__two h4{
  font-size: 20px;
  margin-bottom: 2.5rem;
  color: black;
}
.footer--bottom{
display: flex;
justify-content: space-around;
margin-top: 5rem;
gap:17rem ;
height:5rem;
color: var(--document);
}
.footer--bottom__right a{
  text-decoration: none;
  margin: 1rem;
  color: var(--document);
}
.footer--bottom__right a:hover{
  color: black;
}
/* responsive */

@media screen and (max-width:991px) {
  .title{
    flex-direction: column;
    
  }
  .title--oder{
    width: 90vw;
  }
  .title--img>img{
    width: 700px;
    height: 500px;
    margin-top: 40px;
  }

  .choose{
    flex-direction: column;
    align-items: center;
    margin-left: 8rem;
  }
  .choose .select , .home .home--text{
    width: 45rem;
    margin-left: -20px;
    margin-top: 50px;
    
  }

  .home{
    align-items: center;
  flex-direction: column-reverse;
  margin-left: 8rem;

  
  }
  .choose>img ,.home img{
    width: 650px;
    height: 450px;
    margin: 0 auto;
  }
    .Download {
      flex-direction: column;
      height: 66rem;
      gap: 2rem;
    }
        .Download--mobile {
         margin-top: -40px;
          gap: 1rem;
        }

  .container{
    flex-direction: column;
    text-align: center;
  }
    .container--text__one ,.container--text__two{
      margin: 0 auto;
    }
    .container--text__one p ,.container--text__two p{

      display: block;
      width: 45rem;
      font-size: 15px;
      position: relative;
      right: 12rem;
    }
  .footer--bottom{
    gap: 1rem;
  }
}


@media screen and (max-width:767px) {

  .title{
    justify-content: center;
    align-items: center;
    
  }

 .title--oder__btn{
  margin-left: 200px;
 }
 .btn{
  margin-left: 100px;
 }



 .choose .select , .home .home--text{
  text-align: center;
margin-left: -90px;  
}
.choose .select h3,.choose .select span, .home .home--text h3,.home .home--text span{
  margin: 0 auto;
  
}
.Download{
  text-align: center;
}
.Download--mobile {
       margin-top: -20px;
       margin-left: 5rem;
 }
 .Download--introduce span, .Download--introduce h3{
  margin: 0 auto;
 }
}