body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
}

.list {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.list--text {
    margin-bottom: 20px;
}

/* .checkbox {
    display: none;
} */

.checkbox+label {
    /* cursor: pointer; */
    display: inline-block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 5px;
    font-size: 18px;
    color: #333;
}

.checkbox+label:before {
    content: "+";

    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.checkbox:checked+label:before {
    content: "-";
    color: #000000;
}

.checkbox:checked~.list--text__hidden {
    display: block;
    margin-top: 10px;
}



.list--text__hidden {
    display: none;
}

.checkbox:checked~.list--text__hidden {
    display: block;
    margin-top: 10px;
}