@font-face {
    font-family: lato;
    src: url(../font/lato-bold.ttf);
    font-weight: 300;
}

@font-face {
    font-family: "SVN-Fontbox";
    src: url(../font/SVN-Fontbox-Boathouse-Filled.otf);
}