.menu--choose {
  .nav--menu__text {
    .page--Grenchop {
      a {
        color: #46b20f;
        border-bottom: 1px solid #46b20f;
        padding-bottom: 1rem;
        display: block;
      }
    }
  }
}
.nav--menu__mobile {
  .page--Grenchop {
    a {
      color: #46b20f;
    }
  }
}

// end  menu
