@forward "../partials/valiriablas"; // chuyển tiếp các member từ file variables để bất kì các file nào import footer sẽ được sử dụng
@use '../partials/valiriablas' as v;
/*
import cả foder
- B1: tạo ra file index.scss
- B2 : Forward tất cả các file trong folder vào _index.scs
- B3 : chỗ nào cần import cả folder chỉ càn import file _index.scss
*/

.footer {
    padding: 30px;
    background: v.$primarycolor;
    font-size: v.$textSize;
}