:root {
  --color-btn: #8758ff;
}

body {
  background: var(--color-btn);
  font-family: sans-serif;
}

.container {
  background-color: #1a1a40;
  width: 40%;
  margin: 0rem auto;
  border-radius: 1rem;
}

h1 {
  padding-top: 2rem;
  text-align: center;
  color: white;
}

form {
  width: 90%;
  margin: 0 auto;
}

.input {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  padding-bottom: 1.5rem;
}

.input input {
  width: 60%;
  padding: 1rem;
  border: 1px solid #8758ff;
  background-color: transparent;
  outline: none;
  color: white;
  font-size: 1rem;
}

.edit {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.edit input {
  width: 60%;
  padding: 1rem;
  border: 1px solid #8758ff;
  background-color: transparent;
  outline: none;
  color: white;
  font-size: 1rem;
}

.edit button {
  width: 29%;

  padding-block: 1.1rem;
  background-color: var(--color-btn);
  color: white;
  border: 1px solid #8758ff;
}

.input button {
  background-color: var(--color-btn);
  color: white;
  border: 1px solid #8758ff;
  padding-inline: 2.5rem;
}

.Todo {
  padding-bottom: 0.5rem;
  width: 95%;
  margin: 0 auto;
  position: relative;
}

.text {
  list-style: none;
  color: white;
  background-color: var(--color-btn);
  margin: 0 auto;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  width: 82%;
}

.input input::placeholder {
  color: white;
}

.icon {
  position: absolute;
  right: 3rem;
  top: 0.7rem;
}

i {
  color: white;
  padding: 0.3rem;
}
