/*
Thuộc tính border-radius --> Bo góc
*/
.box {
  width: 200px;
  height: 300px;
  border-radius: 50%;
  border: 5px solid red;
  /* border-radius: 10px 20px 30px 40px; */
  /* border-top-left-radius: 10px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 40px; */
}

.btn {
  width: 100px;
  height: 35px;
  border: 0;
  background: green;
  color: #fff;
  border-radius: 99px;
  cursor: pointer;
}

/*pseudo classes */
.btn:hover {
  background: red;
}

.btn-sm {
  height: 25px;
}

.btn-lg {
  height: 45px;
}
.btn-outline {
  background: transparent;
  color: green;
  border-color: currentColor;
  border: 1px solid;
}
.btn-outline:hover {
  color: #fff;
}
