* {
  padding: 0;
  margin: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #fff;
}
.menu {
  width: 200px;
  margin: 30px auto;
  background: #333;
  padding: 15px;
}
.menu ul {
  background: green;
  height: 0;
  padding: 0 15px;
  overflow: hidden;
  transition: height 0.3s ease;
}
.menu a {
  display: block;
  padding: 5px 0;
}
.menu li.has-children > a::after {
  content: "▼";
  float: right;
  font-size: 0.85rem;
}
/* .menu li.active > ul {
  height: 200px;
} */
.menu li.has-children.active > a::after {
  rotate: 180deg;
}
