@import url(../css/grid.css);

:root {
  --boder-btn: #ffa500;
}

body {
  font-family: "Nunito Sans", sans-serif;
  background-color: #efefef;
}

.menu {
  width: 100%;
  height: 4rem;
  background-color: rgba(34, 34, 34, 0.848);
  font-family: sans-serif;
  position: fixed;
  z-index: 99;
  top: 0;
}

.icon--mobile .bi-list {
  color: white;
  font-size: 2rem;
  display: none;
}

.menu--nav {
  display: flex;
  width: 80%;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  margin: 0.7rem auto;
  z-index: 99;
}

.menu--nav .nav--text {
  list-style: none;
  display: flex;
  align-items: center;
  margin: auto;
}

.nav--logo a {
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
  font-weight: 700;
  font-family: sans-serif;
}

.nav--logo a span {
  color: #ffa500;
  position: relative;
  left: 0.5rem;
}

.menu--nav .nav--text a {
  text-decoration: none;
  padding: 2rem 0.5rem;
  margin: auto;
  color: white;
}

.btn--order button {
  font-size: 1rem;
  background-color: var(--boder-btn);
  color: white;
  border-radius: 100px;
  padding: 0.7rem 1rem;
}

.Dark--mode {
  padding: 15px;
  border: 3px solid var(--boder-btn);
  border-radius: 100px;
  margin-right: 3rem;
}

/* menu mobile */
.nav--mobile {
  position: relative;
  z-index: 9999;
  top: 4.035rem;
}

.nav--mobile .nav--menu__mobile {
  display: flex;
  flex-direction: column;
  background-color: #222;
  position: fixed;
  width: 100%;
  visibility: hidden;
  height: auto;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
}

.nav--mobile .nav--menu__mobile a {
  text-decoration: none;
  font-size: 1rem;
  color: white;
  padding: 10px 20px;
  transition: all 0.3s ease-in-out;
  display: block;
}

/* section--header */
.Mumbai {
  width: 90%;
  height: 700px;
  background-image: url(../img/photo-3-1690264584559996714853.webp);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
  text-align: center;
  position: relative;
  top: 90px;
}

.Mumbai::before {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: initial;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 0;
  margin: 0 auto;
}

.conten--text {
  width: 60%;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 100px;
}

.conten--text span {
  display: block;
  color: transparent;
  font-size: 4vw;
  font-weight: 900;
  -webkit-text-stroke: 0.1rem var(--boder-btn);
}

.conten--text h2 {
  font-size: 5vw;
  color: white;
  margin-block: 30px;
}

.conten--text p {
  font-size: 1rem;
  color: #eee;
  width: 60%;
  line-height: 2rem;
  margin: 0 auto;
}

.conten--text button {
  position: relative;
  top: 30px;
  padding: 15px 20px;
  border-radius: 100px;
  font-size: 1.2rem;
  background-color: var(--boder-btn);
  border: 2px solid var(--boder-btn);
}

.conten--text button:hover {
  background-color: #ffa60031;
  color: white;
}

/* section-2 */
.sale--box {
  background-color: white;
  border-radius: 10px;
  width: 80%;
  height: 160px;
  display: flex;
  position: relative;
  box-shadow: 0 0.5rem 1rem rgba(17, 17, 17, 0.3);
  justify-content: space-around;
  margin: 30px auto;
  align-items: center;
}

.sale--box h1 {
  color: var(--boder-btn);
  font-size: 40px;
  width: 40%;
}

.sale--box button {
  width: 35vw;
  height: 3rem;
  background-color: var(--boder-btn);
  color: white;
  font-size: 1.5rem;
  border-radius: 100px;
  border: 2px solid var(--boder-btn);
}

.sale--box button:hover,
.experience--text button a:hover {
  background-color: #ffa60031;
  color: var(--boder-btn);
}

/* section3 */
.experience {
  display: flex;
  margin-top: 3rem;
  margin: 5rem auto;
  align-items: center;
  width: 85%;
  gap: 1.5rem;
}

.experience--video video,
.experience--video {
  width: 40vw;
  border-radius: 10px;
}

video:nth-of-type(1) {
  display: none;
}

video:nth-of-type(2) {
  display: none;
}

video:nth-of-type(3) {
  display: none;
}

#check--video__one:checked ~ video:nth-of-type(1) {
  display: block;
}

#check--video__two:checked ~ video:nth-of-type(2) {
  display: block;
}

#check--video__three:checked ~ video:nth-of-type(3) {
  display: block;
}

.btn--conver {
  display: flex;
  align-items: center;
  /* position: relative;
  left: 38%; */
  margin: 20px auto;
  width: 200px;
}

.btn--conver label {
  width: 20px;
  height: 20px;
  border: 2px solid var(--boder-btn);
  border-radius: 100px;
  margin-left: 2rem;
  transition: all 0.3s ease-in-out;
}

.btn--conver label:hover {
  background-color: var(--boder-btn);
}

.experience--text span {
  color: var(--boder-btn);
  font-size: 1.4rem;
}

.experience--text h3 {
  font-size: 2.3rem;
  color: #333;
  margin-top: 1rem;
}

.experience--text p {
  font-size: 1rem;
  line-height: 2;
  margin-top: 1rem;
  color: #555;
}

button {
  background-color: transparent;
}

.experience--text button a {
  text-decoration: none;
  color: white;
  background-color: var(--boder-btn);
  border: 2px solid var(--boder-btn);
  padding: 15px 25px;
  font-size: 1rem;
  margin-top: 20px;
  display: block;
  border-radius: 100px;
}

/* section 4 */
.travel {
  width: 100%;
  text-align: center;
}

.travel--hearder span {
  color: var(--boder-btn);
  font-size: 1.5rem;
  font-weight: 600;
}

.travel--hearder h3 {
  font-size: 3rem;

  margin-bottom: 20px;
}

.box-container {
  width: 85%;
  margin: 0 auto;
  --max--column: 13;
}

.box .img {
  overflow: hidden;
  width: 100%;
  height: 13.5rem;

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.box .img img {
  transition: all 0.3s ease-in-out;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.box:hover img {
  scale: 1.1;
}

.box {
  display: block;
  height: 380px;
  border-radius: 10px;
  text-align: center;
  background-color: white;
  box-sizing: border-box;
  margin: 10px;
  overflow: hidden;
  padding-inline: 0;
  position: relative;
}

.box h4 {
  font-size: 18px;
  margin-top: 20px;
}

.box p {
  font-size: 14.5px;
  margin-top: 10px;
  color: #aaa;
  display: block;
  height: 5.5rem;
}

.box a {
  color: var(--boder-btn);
  text-decoration: none;
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  transition: all 3s ease-in-out;
}

.box a:hover span {
  position: relative;
  right: 15px;
}

/* section5 */
.service {
  margin-top: 4rem;
  --max--column: 13;
}

.service--text {
  text-align: center;
}

.service--text span {
  color: var(--boder-btn);
  font-size: 1.5rem;
  font-weight: 600;
}

.service--text h3 {
  font-size: 3rem;
  margin-block: 0.5vw;
}

.service--container {
  width: 85%;
  margin: 3rem auto;
}

._box {
  border: 2px solid var(--boder-btn);
  border-radius: 10px;
  height: auto;
  margin: 10px;
  text-align: center;
}

._box:hover {
  background-color: white;
}

._box i {
  font-size: 3.5rem;
  color: var(--boder-btn);
  margin-top: 2rem;
}

._box h4 {
  font-size: 1.3rem;
  margin-top: 2rem;
}

._box p {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

/* section 6 */
.mumbai--img__text h3 {
  color: var(--boder-btn);
  text-align: center;
  font-size: 2rem;
}

.mumbai--img__container {
  width: 85%;
  margin: 3rem auto;
  --max--column: 13;
}

.conten--img {
  overflow: hidden;
  width: 100%;
  /* height: 13.5rem; */

  transition: 0.3s;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.conten--img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.conten {
  height: auto;
  padding: 0;
  margin: 9px;
}

.conten p {
  font-size: 0.7rem;
  color: #aaa;
}

.conten h4 {
  font-size: 1rem;
  color: var(--boder-btn);
}

/* section 7 */
.Evaluate--container {
  width: 85%;
  margin: 0 auto;
  --max--column: 12.1;
  /* thay đổi col của grid-system  */
}

.Evaluate--title {
  text-align: center;
  margin-bottom: 20px;
}

.Evaluate--title h3 {
  color: var(--boder-btn);
  font-size: 2rem;
}

.Evaluate--title p {
  font-size: 0.9rem;
}

.Evaluate--text {
  border: 2px solid var(--boder-btn);
  border-radius: 10px;
  padding: 20px;
}

.Evaluate--text p {
  color: #000000c2;
  font-size: 0.9rem;
  line-height: 1.8rem;
  margin-bottom: 10px;
}

.avatar {
  display: flex;
  align-items: center;
  gap: 15px;
}

.avatar img {
  width: 60px;
  height: 60px;
  border-radius: 100px;
}

.avatar--text b {
  display: block;
}

/* section 8 */
.feedback--container {
  width: 85%;
  margin: 3rem auto;
}

.feeback--text h3 {
  color: var(--boder-btn);
  text-transform: uppercase;
  text-align: center;
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

.form {
  background-color: white;
  padding: 2rem;
  border-radius: 5px;
  height: auto;
}

.form input {
  width: 100%;
  height: 3rem;
  padding-inline: 20px;
  background-color: #f7f7f7;
}

.form textarea {
  padding: 20px;
  width: 100%;
  background-color: #f7f7f7;
}

.form button {
  border-radius: 100px;
  background-color: var(--boder-btn);
  border: 2px solid var(--boder-btn);
  color: white;
  font-size: 1.1rem;
  padding: 10px;
}

.form button:hover {
  background-color: #ffa60031;
  color: var(--boder-btn);
}

.map {
  /* padding: 0; */
  border-radius: 10px;
}

/* section9 */
.Mumbai--found__container {
  width: 85%;
  margin: 20px auto;
}

.found--text {
  text-align: center;
}

.found--text span {
  color: var(--boder-btn);
  font-size: 1.1rem;
  font-weight: 600;
}

.found--text h3 {
  font-size: 2rem;
  margin-block: 0.5vw;
}

.found {
  background-color: white;
  margin: 8.1px;
  height: auto;
  --max--column: 12.7;
  border-radius: 10px;
  position: relative;
}

.found-img {
  width: 100%;
  overflow: hidden;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.found-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.found--information {
  width: 90%;
  margin: 15px auto;
  margin-bottom: 2rem;
}

.found--information h4 {
  font-size: 1.2rem;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
}

.found--information h4:hover {
  color: var(--boder-btn);
}

.found--information p {
  font-size: 0.9rem;
  line-height: 2rem;
  margin-top: 10px;
  display: block;
  margin-bottom: 3.5rem;
}

.clock {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  position: absolute;
  bottom: 5px;
  position: absolute;
  bottom: 5px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
}

.fa-clock,
.fa-user {
  color: var(--boder-btn);
}

.clock a {
  text-decoration: none;
  color: #222;
  display: flex;
  align-items: center;
}

.clock a span {
  margin-inline: 10px;
}

/* banner */
.banner--cover {
  background-image: url(../img/banner-bg.jpg);
  height: auto;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
}

.banner {
  background-color: rgba(0, 0, 0, 0.515);
  height: auto;
  text-align: center;
}

.banner span {
  color: var(--boder-btn);
  font-size: 1.2rem;
  display: block;
}

.banner h3 {
  color: white;
  font-size: 2.8rem;
  margin-top: 1.5rem;
}

.banner p {
  color: white;
  line-height: 2rem;
  font-size: 1rem;
}

.banner button {
  padding: 1rem 3rem;
  color: white;
  background-color: var(--boder-btn);
  margin-top: 1rem;
  border: 3px solid var(--boder-btn);
  border-radius: 100px;
  font-size: 1rem;
}

.banner button:hover {
  background-color: #ffa60031;
  color: var(--boder-btn);
}

footer {
  background: #222;
}

.banner--text {
  position: relative;
  top: 1.2rem;
  height: 17rem;
}

.footer--container {
  width: 80%;
  margin: 0 auto;
  --max--column: 12;
  padding-top: 3rem;
}

.footer--logo {
  font-size: 1.8rem;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: bold;
}

.footer--container span {
  color: #aaa;
  display: block;
}

.footer--logo span {
  color: var(--boder-btn);
  display: inline-block;
  position: relative;
  left: 5px;
}

.footer--title p {
  color: #aaa;
  line-height: 1.5rem;
  margin-top: 1rem;
  font-size: 0.9rem;
}

.footer-icon i {
  color: var(--boder-btn);
  padding: 13px;
  border: 2px solid var(--boder-btn);
  border-radius: 100px;
  margin: 20px 5px;
}

.footer-icon i:hover {
  background-color: var(--boder-btn);
  color: black;
}

.footer--secon a {
  display: flex;
  text-decoration: none;
  padding-block: 0.5rem;
  align-items: center;
  font-size: 0.95rem;
}

.footer--secon a i {
  color: var(--boder-btn);
  margin-right: 10px;
}

.footer--secon a span {
  transition: all 0.3s ease-in-out;
}

.footer--secon a:hover span {
  color: var(--boder-btn);
  margin-left: 10px;
}

.footer--secon h3,
.box--three h3,
.box--four h3 {
  color: white;
  font-size: 1.2rem;
  margin-bottom: 1.4rem;
}

.box--three i {
  color: var(--boder-btn);
  margin-right: 5px;
  line-height: 2.5rem;
}

.box--four span,
.box--three span {
  font-size: 0.95rem;
}

.box--four input {
  display: block;
  width: 100%;
  background-color: transparent;
  height: 50px;
  border: 2px solid var(--boder-btn);
  border-radius: 100px;
  padding-inline: 20px;
  color: #555;
  margin-top: 20px;
}

.box--four button {
  padding: 18px 40px;
  background-color: var(--boder-btn);
  color: white;
  border-radius: 100px;
  margin-top: 20px;
  border: 2px solid var(--boder-btn);
}

.box--four button:hover {
  background-color: #ffa60031;
  color: var(--boder-btn);
}

.footer--end {
  font-size: 1.5rem;
  color: white;
  text-align: center;
  padding: 2rem;
}

.footer--end span {
  color: var(--boder-btn);
}

@media screen and (max-width: 998.98px) {
  .menu--nav {
    width: 95%;
  }

  .conten--text {
    width: 90%;
  }

  .conten--text span {
    font-size: 7vw;
  }

  .conten--text h2 {
    font-size: 8vw;
    width: 100%;
  }

  .conten--text p {
    font-size: 1rem;
    width: 100%;
  }

  .sale--box h1 {
    font-size: 30px;
  }

  .experience {
    flex-direction: column;
  }

  .experience--video video,
  .experience--video {
    width: 90vw;
    border-radius: 10px;
  }
}

@media screen and (max-width: 770.98px) {
  .icon--mobile .bi-list {
    display: block;
  }

  .menu--nav .nav--text {
    display: none;
  }

  .menu--nav {
    width: 98%;
    justify-content: space-between;
  }

  .Dark--mode {
    padding: 15px;
    position: relative;
    left: 14%;
  }

  .nav--logo {
    position: relative;
  }

  #check--mobile:checked ~ .nav--menu__mobile {
    visibility: visible;
    height: 250px;
  }

  .sale--box h1 {
    font-size: 25px;
    font-weight: 200;
    width: 90%;
  }

  .sale--box button {
    font-size: 20px;
    width: 90%;
  }

  .sale--box {
    flex-direction: column;
  }

  .map {
    padding: 0;
    margin-bottom: 10px;
    height: 300px;
  }
}

@media screen and (max-width: 586px) {
  .banner span {
    color: var(--boder-btn);
    font-size: 1.2rem;
    display: block;
  }

  .banner h3 {
    font-size: 2rem;
  }

  .banner p {
    font-size: 0.7rem;
  }

  .banner button {
    padding: 0.8rem 3rem;
  }

  .banner {
    height: 19rem;
  }
}
