@import url(../css/index.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo {
    text-align: center;
    margin-top: 5%;
    line-height: 50px;
    font-family: Regular, sans-serif;
    animation: identifier 1s ease;
}

body {
    background-image: url("../img/p81tvov.png");

}

h1 {
    font-size: 50px;
    letter-spacing: 45px;
    color: rgb(191, 191, 191);
}

span {
    font-size: 30px;
    margin-top: 25px;
    display: inline-block;
    font-weight: 600;
    letter-spacing: 45px;
}

.char1,
.char11,
.char6 {
    color: red;
}

.char2,
.char10 {
    color: rgb(0, 255, 145);
}

.char3,
.char9 {
    color: blue;
}

.char4,
.char8 {
    color: rgb(170, 20, 211);
}

.char5,
.char7 {
    color: rgb(238, 255, 47);
}

.content {
    background-color: white;
    width: 600px;
    height: 45px;
    border-radius: 30px;
    margin: 90px auto;
    display: flex;

}

.content ion-icon:hover {
    background-color: rgba(210, 210, 210, 0.452);
    border-radius: 50px;

}

ion-icon {
    font-size: 20px;
    margin: 13px 0 0 17px;
}

input[type="search"] {
    font-size: 20px;
    display: inline-block;
    width: 460px;
    height: 40px;
    border: none;
    margin: 2px 0 0 9px;
    outline: none;
}

.list a {
    display: inline-block;
    width: 100px;
    height: 100px;
    text-align: center;
    text-decoration: none;
    color: white;

}

.list a:hover {
    background-color: rgba(214, 214, 214, 0.288);
}

.list a:focus {
    background-color: rgba(214, 214, 214, 0.288);
    outline: none;
}



.list a .icon {
    display: block;
    background-color: rgb(243, 243, 243);
    width: 50px;
    height: 50px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    margin: 10px auto;


}

.list a ion-icon {
    color: rgb(27, 22, 172);
    margin-top: -3px;

}

.list {
    position: absolute;
    left: 37%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    width: 400px;
    height: 200px;
    margin-top: -20px;
}


@keyframes identifier {
    0% {
        margin: 0;
    }

    10% {
        margin-left: 10px;
    }

    20% {
        margin-left: 100px;
    }

    30% {
        margin-left: 150px;
    }
}