
    /* at rules */
@font-face {
    font-family: lato;
    src: url(../font/lato-bold.ttf);
    font-weight: 700;
}
@font-face {
    font-family: lato;
    src: url(../font/Lato-Light.ttf);
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: lato;
    src: url(../font/Lato-LightItalic.ttf);
    font-weight: 400;
    font-style: italic;

}
@font-face {
    font-family: lato;
    src: url(../font/Lato-Regular.ttf);
    font-weight: 400;
}