@import url(../css/font.css);

:root {
  --default: black;
  --color--bg--: #fdecec;
  --default--text--: #f55556;
  --document: #676767;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: text, sans-serif;
}


/*------ header-------- */

.logo img {
  width: 180px;
}

.nav--menu {
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;
}

.nav--item {
  display: flex;
  justify-content: center;
  gap: 2rem;
  list-style: none;
  align-items: center;

}

.nav--item li a {
  text-decoration: none;
  color: var(--default);
  font-size: 16px;
  color: var(--document);

}

.nav-search {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
}

.nav-search i {
  font-size: 22px;
}

.bi-cart-fill {
  display: block;
  margin-left: -10px;
}

.nav--search__produce {
  width: 100px;
  height: 40px;
}

.nav--search__produce {
  border: transparent;
  margin: 0 1rem;
  outline: none;
}

.nav--search__produce:focus~.text--seach,
.nav--search__produce:valid~.text--seach {
  display: none;
}

.nav-search .text--seach {
  position: relative;
  right: 50px;
}