@media screen and (min-width:992.98px) {
    .col-gl-1 {
        --column-size: 1;
    }

    .col-gl-2 {
        --column-size: 2;
    }

    .col-gl-3 {
        --column-size: 3;
    }

    .col-gl-4 {
        --column-size: 4;
    }

    .col-gl-5 {
        --column-size: 5;
    }

    .col-gl-6 {
        --column-size: 6;
    }

    .col-gl-7 {
        --column-size: 7;
    }

    .col-gl-8 {
        --column-size: 8;
    }

    .col-gl-9 {
        --column-size: 9;
    }

    .col-gl-10 {
        --column-size: 10;
    }

    .col-gl-11 {
        --column-size: 11;
    }

    .col-gl-12 {
        --column-size: 12;
    }
}