/*
Transform: Thay đổi hình dạng của 1 thẻ html: xoay, nghiêng, di chuyển, phóng to, thu nhỏ

Cú pháp: transform: value
- rotate(angle)
- rotateX(angle)
- rotateY(angle)
- scale(x, y)
- scaleX(value)
- scaleY(value)
- skew(x,y)
- skewX(x)
- skewY(y)
- translate(x,y)
- translateX
- translateY

Các thuộc tính tách ra
- rotate: --> transform: rotate()
- scale: --> transform: scale()
- translate: --> transform: translate()

Thuộc tính transform-origin: x y --> Chọn vị trí của trục khi thực hiện transform (Các giá trị giống y hệt thuộc tính background-position)
*/
.box {
  width: 300px;
  height: 300px;
  background: green;
  color: #fff;
  font-size: 2rem;
  margin: 30px auto;
  transition: all 0.4s ease;
  position: relative;
  top: 0;
  left: 0;
  transform-origin: 100% 0;
}

.container {
  padding: 50px;
  border: 1px solid red;
}
.container:hover .box {
  transform: rotate(90deg);
  /* rotate: 90deg;  */
  /* transform: rotate(45deg) scale(1.5, 1.1); */
  /* transform: skew(0, 30deg); */
  /* transform: translate(100%); */
  /* left: 100%; */
}
