* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    max-width: 100vw;
    max-height: 100vh;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f4f4f4;
    /* Thêm màu nền cho menu */
}

._menu--choose {
    display: flex;
    list-style: none;
}

._menu--choose li {
    margin-right: 10px;
}

._menu--choose select {
    font-size: 16px;
    border: none;
    padding: 8px 12px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo--second img {
    width: 10px;
    height: auto;
    margin-right: 5px;
}

.logo--second {
    border: none;
    border-radius: 20px;
    padding: 8px 20px;
    background-color: #e6e7e7;
    color: #000000;
    cursor: pointer;
    margin-left: 50px;
}

.logo {
    display: flex;
}

.logo .logo--first {
    max-width: 50%;
    height: auto;
    margin-left: 10%;
}

.menu_btn button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}