@font-face {
    font-family: Sans;
    src: url(../font/DM-Sans-Regular.woff2);
}

@font-face {
    font-family: Roboto;
    src: url(../font/Roboto-Bold.ttf);
}

@font-face {
    font-family: Lobster;
    src: url(../font/Lobster-Regular.ttf);
}

@font-face {
    font-family: lato;
    src: url(../font/Lato-Italic.ttf);
}