@import url(../css/font.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    /* background-color: #f2f2f2; */
}

.container {
    margin: 0 auto;
    padding: 20px;
    background-image: url(../img/nề.jpg);
    color: white;
    height: 700px;
    background-size: cover;
    clip-path: polygon(0% 0%, 100% 0, 100% 27%, 51% 52%, 0 24%);
}





.title--logo {
    font-size: 2rem;
    margin-right: 20px;
}



.text {
    margin-right: 350px;
    float: right;
    letter-spacing: 80px;
    font-size: 60px;
    margin-top: 50px;
    font-weight: 900;
    text-align: center;
    font-family: Sans;
}

.list {
    display: flex;
    justify-content: space-around;
    margin-top: -280px;
    flex-wrap: wrap;

}

.list .list-box {
    border: 1px solid rgb(0, 0, 0);
    border-radius: 20px;
    padding: 50px;
}

a {
    text-decoration: none;
}

.btn-back,
.btn-next {
    background-color: #363232;
    color: #fff;
    border: none;
    padding: 20px 50px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;

    box-shadow: 10px 10px rgba(0, 0, 0, 0.652);
}

.btn {
    margin-left: 40%;
    margin-top: 60px;
    margin-bottom: 60px;
}

button a {
    text-decoration: none;
    color: white;

}

.btn-back:hover,
.btn-next:hover {
    background-color: #0056b3;
}