/* thuộc tính boder -- tạo viền cho tất cả các thẻ html 
    3 thành phần cấu tạo border : color width style 
    -border-style: none | solid | dasheh | dotted | double
    boder-color : giá trị màu
    - boder-width: value + unit


    các thuộc mở rộng
    boder-style
    boder-top-style'
    boder-left-style
    boder-right-style

*/
.box {
    width: 100px;
    height: 100px;
    background-color: black;
    clip-path: polygon(0% 0%, 100% 0%, 100% 27%, 56% 28%, 34% 50%, 31% 29%, 0 28%);


    /* border-style: solid; */
    /* border-width: 100px; */
    /* border-color: rgb(255, 255, 255) rgb(255, 255, 255) blue rgb(255, 255, 255); */
    /* border-bottom-width: 300px; */
    /* border-width: 100px 700px 200px 700px; */

    /* border-radius: 10px; */
}